
DATABASE_URL=postgresql://usuario:contraseña@ep-nombrehost.neon.tech/tienda_vet_db?sslmode=require

STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLIC_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

CLOUDINARY_CLOUD_NAME=ejemplo
CLOUDINARY_API_KEY=123456789
CLOUDINARY_API_SECRET=aaa_secreto_bbb


DJANGO_SECRET_KEY=django-insecure-unsafe-local-dev-key-change-in-prod

DEBUG=True

ENVIRONMENT=development

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend

DEFAULT_FROM_EMAIL=noreply@vetshop.com

