
DATABASE_URL=postgresql://user:password@ep-nombrehost.neon.tech/tienda_vet_db?sslmode=require

STRIPE_SECRET_KEY=sk_test_TU_SECRET_KEY_AQUI
STRIPE_PUBLIC_KEY=pk_test_TU_PUBLIC_KEY_AQUI
STRIPE_WEBHOOK_SECRET=whsec_TU_WEBHOOK_SECRET_AQUI

CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=123456789012345
CLOUDINARY_API_SECRET=aaaa_tu_secret_bbbbb


DJANGO_SECRET_KEY=django-insecure-tu-clave-secreta-super-larga-y-aleatoria

DEBUG=True

ENVIRONMENT=development


EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@vetshop.com
